Source: fcitx5-pinyin-zhwiki
Section: utils
Priority: optional
Maintainer: Debian Input Method Team <debian-input-method@lists.debian.org>
Uploaders:
 Chen Shijie <chenshijie@uniontech.com>,
Build-Depends:
 debhelper-compat (= 13),
 libime-bin,
 gzip,
Standards-Version: 4.5.1
Homepage: https://github.com/felixonmars/fcitx5-pinyin-zhwiki
Vcs-Git: ssh://gerrit.uniontech.com:29418/input-method/fcitx5-pinyin-zhwiki.git
Vcs-Browser: https://gerrit.uniontech.com/plugins/gitiles/input-method/fcitx5-pinyin-zhwiki

Package: fcitx5-pinyin-zhwiki-data
Architecture: all
Multi-Arch: foreign
Depends:
 adwaita-icon-theme | gnome-icon-theme-symbolic,
 ${misc:Depends},
Description: Fcitx 5 Pinyin Dictionary 
 from zh.wikipedia.org.

Package: fcitx5-pinyin-zhwiki-rime-data
Architecture: all
Depends:
 ${misc:Depends},
Description: Fcitx 5 Pinyin Dictionary 
 from zh.wikipedia.org for rime.
